@media (max-width:900px) ,(max-height:500px) {
    .navwrapper {
        flex-direction:row;
        height: 10vh;
        align-items: center;
        transition: all 1s;
        a{
            display: none;
        }
        svg.hamicon{
            color: aliceblue;
            width: 3rem;
            height: 3rem;
            position: absolute;
            right: 8rem;
            top: 1.5rem;
        }
        svg.mobile-menu-icon-open{
            
            display: inline-block;
        }
        svg.mobile-menu-icon-close{
            display: none;
        }
        .logo{
            position: relative;
            left: -34vw;
        }
    }
    .hamburger{
        
        height: 100vh;
        flex-direction: column;
        a{
            display: flex;

        }
        .logo{
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
        }
        svg.mobile-menu-icon-open{
            display: none;
        }
        svg.mobile-menu-icon-close{
            display: inline-block;
            right: 5rem;
         
        }



    }

   .homewrapper{
   flex-direction: column;
   align-items: center;
               
    .hl{
        display: flex;
        flex-direction: column;
        align-items: center;
        p.n-font{
            font-size: 1rem;
            word-wrap: normal;
            padding:0 5rem;
        }

    
        
    }
    img{
        display: none;
    }
   

}
.hMain{
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: column;
    div.H-Intro{
        font-size: 15px;  
        height: 30vh;
        overflow-y: scroll;
        scrollbar-width: none;

    }
}
.search{
    flex-direction: column;
    gap: 5px;
}
.search-i{
    height: 4vh;
    font-size: large;
    width: 16em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.696);
    font-weight: bold;
}
.search-button{
    display: block;
}
.about{
        
    .about-wrapper{
        p{
            
            font-size: 0.5rem;
        }
    }
    
}


}
@media (max-width:900px) ,(max-height:500px) {
    .contact{
        .c1{
            display: none;
        }
        div.contact-wrap{
            flex-direction: column;
            margin: auto;
            width: 90%;
            div.contact-left{
                display: none;
            }
            div.contact-r{
                form{
                position: initial;
                width: 100%;
                input{
                    width: 100%;
                    height: 30px;
                }
                textarea{
                    height: 60px;
                }
                button{
                    width: auto;
                }
            }
                
            }
        }
    }

}